@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sfera';
  src: url('Sfera.eot');
  src: local('Sfera'),
      url('/font/sfera/Sfera.woff2') format('woff2'),
      url('/font/sfera/Sfera.woff') format('woff'),
      url('/font/sfera/Sfera.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --foreground-rgb-dark: 16, 20, 29;
  --background: 255, 255, 255;
  --background-dark: 16, 20, 29;
  --primary: 134, 23, 255;
  --secondary: 69, 255, 205;
  --min-screen-width: 320px;
  --max-screen-width: 1200px;
  --base-font-size: 16px;
}

* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.Sfera {
  font-family: "Sfera";
  font-display: swap;
}

html{
  scroll-behavior: smooth;
}

body{
  transition: background 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.word-spacing{
  word-spacing:-2px;
}

  /* custom scrollbar */
  ::-webkit-scrollbar {
    width: 1em;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #8A8A8A;
  }

@layer base{
  body {
      @apply dark:bg-darkest bg-white
  }
}
